/** INICIO MENU **/

.branding {
  width: 100%;
}

a {
  text-decoration: none;
}
.menu-principal > ul > li {
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-principal > ul > li a,
.menu-principal > ul > li span {
  height: 30px;
  display: inline-block;
  padding: 0px 13px;
  color: #1A4C82;
  cursor: pointer;
  position: relative;
  transition: top 0.5s ease;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  background-color: transparent;

}
.menu-principal > ul > li span {
  padding-right: 42px;
}

.has-submenu span {
  transition: all 0.25s ease;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

.menu-principal > ul > li span:before {
  content: ">";
  position: absolute;
  right: 13px;
  top: 0;
  font-size: 13px;
}

.menu-principal > ul > li > a:after,
.menu-principal > ul > li > span:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 4px;
  display: block;
  background-color: #223f77;
  transition: all 0.25s ease;
}

.menu-principal .has-submenu {
  position: relative;
  z-index: 9;
}

.menu-principal .has-submenu ul {
  position: absolute;
  left: 0;
  top: 40px;
  width: 205px;
  height: 212px;
  overflow: hidden;
  background: #f7f7f7;
  color: #fff;
  visibility: hidden;
  transition: top 0.25s ease;
}

ul ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.menu-principal .has-submenu ul li {
  display: block;
}

.menu-principal > ul > li.has-submenu ul li a {
  color: #544f4f;
  display: block;
  line-height: 42px;
  height: 42px;
  text-transform: none;
  font-weight: 400;
}

.menu-principal .has-submenu ul li a:hover {
  background-color: #DDD;
}

.menu-principal .has-submenu:hover ul {
  visibility: visible;
  top: 30px;
  height: auto;
}

.menu-principal > ul > li > a:hover::after,
.menu-principal > ul > li > span:hover::after {
  width: 90%;
  left: 5%;
}

.menu-principal .has-submenu:hover span::after {
  z-index: 1000;
  width: 100%;
  left: 0%;
}

.menu-fijo {
  position: -webkit-sticky;
  position: sticky; /* Utiliza solo esta línea en lugar de las dos anteriores */
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

/** FIN MENU **/

.nav-mobile {
  background-color: #223f77;
}

.nav-mobile li,
.nav-mobile li span {
  border-bottom: 1px solid #2a4984;

}
.nav-mobile li a,
.nav-mobile li span {
  display: block;
  padding: 14px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.nav-mobile .has-submenu span {
  position: relative;

}

.has-submenu span {
  transition: all 0.25s ease;
}

.nav-mobile .has-submenu span:before {
  content: ">";
  position: absolute;
  right: 13px;
  top: 17px;
  font-size: 10px;
}

.nav-mobile .has-submenu ul {
  border-top: 1px solid #2a4984;
  background-color: #1b376d;

}

.nav-mobile .has-submenu ul li > a {
  padding-left: 40px;
}


.nav-mobile {
  max-height: 0px;
  transition: max-height .5s ease !important;
  overflow: hidden;
}

.nav-mobile.abierto {
  max-height: 590px;
  transition: max-height .5s ease !important;
}


@media screen and (min-width: 992px) {
  .branding {
    width: auto;
  }
}
