<header class="position-relative">
  <section class="menu-fijo container-fluid pb-3 pb-lg-0">
    <section class="container d-flex justify-content-between pt-3">
      <div class="d-flex justify-content-between branding">
        <div>
          <img src="../../assets/logoMachupicchu.svg" alt="">
        </div>
        <button class="btn-menu d-lg-none" (click)="toggleMenu()">Menu</button>
      </div>
      <nav class="d-none d-lg-block nav justify-content-center menu-principal pt-3 ">
        <ul class="list-unstyled">
          <li><a href="#">INICIO</a></li>
          <li><a href="#">TOURS A MACHUPICCHU</a></li>
          <li><a href="#">TOURS 1 DÍA</a></li>
          <li class="has-submenu">
            <span>PAQUETES</span>
            <ul class="list-unstyled">
              <li><a href="#">LA EMPRESA</a></li>
              <li><a href="#">GALERIA DE FOTOS</a></li>
              <li><a href="#">DEPARTAMENTO</a></li>
              <li><a href="#">HABITACIONES</a></li>
              <li><a href="#">HABITACIONES</a></li>
              <li><a href="#">HABITACIONES</a></li>
            </ul>
          </li>
          <li><a href="#">SOBRE NOSOTROS</a></li>
          <li><a href="#">BLOG</a></li>
        </ul>
      </nav>
    </section>
  </section>

  <section class="position-absolute w-100 top-100">
    <section>
      <nav class="menu-mobile-new nav-mobile" [ngClass]="{'abierto': isMenuOpen}">
        <ul class="list-unstyled">
          <li><a href="#">INICIO</a></li>
          <li><a href="#">TOURS A MACHUPICCHU</a></li>
          <li><a href="#">TOURS 1 DÍA</a></li>
          <li class="has-submenu">
            <span class="btn-sobre">PAQUETES</span>
            <ul class="list-unstyled">
              <li><a href="#">LA EMPRESA</a></li>
              <li><a href="#">GALERIA DE FOTOS</a></li>
              <li><a href="#">DEPARTAMENTO</a></li>
              <li><a href="#">HABITACIONES</a></li>
              <li><a href="#">HABITACIONES</a></li>
              <li><a href="#">HABITACIONES</a></li>
            </ul>
          </li>
          <li><a href="#">SOBRE NOSOTROS</a></li>
          <li><a href="#">BLOG</a></li>
        </ul>
      </nav>
    </section>
  </section>



</header>
