<div class="container-fluid" style="border-bottom: 40px solid rgb(16, 36, 95);">
    <!-- Contenido de tu contenedor -->
  </div>
<div class="container">
    <div class="row rowPersonalizado">
        <div class="col-3" style="margin-right: auto;">
            <img src="../../assets/logoMachupicchu.svg" height="50px" alt="imagen de logo">
        </div>
        <div class="col-7" style="display: flex; justify-content: space-around;">
            <ul style="list-style: none; padding: 0; margin: 0; display: flex; font-size: 20px;">
                <li style="margin-right: 20px;">
                    <a routerLink="/home">Home</a>
                </li>
                <li style="margin-right: 20px;">
                    <a routerLink="/Tour">Tour</a>
                    <ul class="submenu">
                        <li routerLink="#">Cusco</li>
                        <li routerLink="#">Arequipa</li>
                        <li routerLink="#">Puno</li>
                        <li routerLink="#">Lima</li>
                    </ul>
                </li>
                <li style="margin-right: 20px;">
                    <a routerLink="/paquetesT">Paquetes</a>
                </li>
                <li>
                    <a routerLink="/Ofertas">Ofertas</a>
                </li>
            </ul>
        </div>
        <div class="col-2" style="margin-left: auto;">
            <ul class="usuarioRegister">
                <li style="margin-right: 20px;">
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>
