<div class="container-horizontal">
    <div class="row">
        <div class="col-3">
            <img src="#" alt="imagen de logo">
        </div>
        <div class="col-9">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/Tour">Tour</a>
                </li>
                <li>
                    <a routerLink="/paquetesT">Paquetes</a>
                </li>
                <li>
                    <a routerLink="/Ofertas">ofertas</a>
                </li>
            </ul>     
        </div>
    </div>
</div>

