<footer>
  <section class="container-fluid bg-website">
    <section class="container m-auto pt-2 d-flex flex-wrap justify-content-between justify-content-md-center justify-content-lg-between px-0">
      <div class="p-3 content-footer col-12 col-sm-6 col-md-auto">
        <h3 class="fw-medium mb-2">CONTACTOS</h3>
        <span class="separador d-block mb-3"></span>
        <ul class="list-unstyled lh-lg">
          <li class="d-flex align-items-center">
            <mat-icon aria-hidden="false" fontIcon="phone" class="fs-5"></mat-icon>
            <span class="d-inline-block">Ventas: +51 999 999 999</span>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon aria-hidden="false" fontIcon="phone" class="fs-5"></mat-icon>
            <span class="d-inline-block">Operaciones: +51 999 999 999</span>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon aria-hidden="false" fontIcon="support_agent" class="fs-5"></mat-icon>
            <span class="d-inline-block">Emergencias: +51 993 879 324</span>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon aria-hidden="false" fontIcon="mail" class="fs-5"></mat-icon>
            <span class="d-inline-block">ventas&#64;machupicchuperutours.com</span>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon aria-hidden="false" fontIcon="location_on" class="fs-5"></mat-icon>
            <span class="d-inline-block">Av. Huaynacapac 112-A, Wanchaq - Cusco</span>
          </li>
          <li class="d-flex align-items-center">
            <mat-icon aria-hidden="false" fontIcon="location_on" class="fs-5"></mat-icon>
            <span class="d-inline-block">Av. Angela Perotti 198 - Huacachina</span>
          </li>
        </ul>
      </div>

      <div class="p-3 content-footer col-12 col-sm-6 col-md-auto">
        <h3 class="fw-medium mb-2">NOSOTROS</h3>
        <span class="separador d-block mb-3"></span>
        <ul class="list-unstyled lh-lg">
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Nosotros</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Código ESNNA</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Responsabilidad Social</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Políticas de Privacidad</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Trabaja con nosotros</a>
          </li>
        </ul>
      </div>

      <div class="p-3 content-footer col-12 col-sm-6 col-md-auto">
        <h3 class="fw-medium mb-2">PARTNERS</h3>
        <span class="separador d-block mb-3"></span>
        <ul class="list-unstyled lh-lg">
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Seamos socios</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Agencias de viajes</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Tour Operadores</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Creadores de contenido</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Programa de afiliados</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Kit de Marketing</a>
          </li>
        </ul>
      </div>

      <div class="p-3 content-footer col-12 col-sm-6 col-md-auto">
        <h3 class="fw-medium mb-2">VIAJEROS</h3>
        <span class="separador d-block mb-3"></span>
        <ul class="list-unstyled lh-lg">
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Términos y condiciones</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Protección de datos personales</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Políticas de reservas</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Libro de reclamaciones</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Protocolos Covid 19</a>
          </li>
          <li class="d-flex align-items-center">
            <a class="text-white link-footer" href="#">Blog de viajes</a>
          </li>
        </ul>
      </div>

      <div class="p-3 content-footer d-block d-lg-none d-xl-block">
        <p class="fw-medium">Selecciona tu moneda</p>

        <select class="form-select form-select-sm" aria-label="Small select example">
          <option selected value="0">Estados Unidos</option>
          <option value="1">Perú</option>
        </select>

      </div>
    </section>
  </section>
  <section class="footer-socialmedia container-fluid">
    <div class="container py-2 d-flex justify-content-between">
      <div class="social-media d-flex align-items-baseline">
        <a href="#" class="link-socialmedia"><mat-icon class="icon-socialmedia" aria-hidden="false" fontIcon="facebook"></mat-icon></a>
        <a href="#" class="link-socialmedia"><mat-icon class="icon-socialmedia" aria-hidden="false" fontIcon="photo_camera"></mat-icon></a>
        <a href="#" class="link-socialmedia"><mat-icon class="icon-socialmedia" aria-hidden="false" fontIcon="tiktok"></mat-icon></a>
        <a href="#" class="link-socialmedia"><mat-icon class="icon-socialmedia" aria-hidden="false" fontIcon="flight"></mat-icon></a>
        <a href="#" class="link-socialmedia"><mat-icon class="icon-socialmedia" aria-hidden="false" fontIcon="palette"></mat-icon></a>
        <a href="#" class="link-socialmedia"><mat-icon class="icon-socialmedia" aria-hidden="false" fontIcon="share"></mat-icon></a>
      </div>
      <div>
        <a href="http://">
          <img src="https://www.machupicchuperutours.com/wp-content/uploads/cards-2.svg" alt="" srcset="" class="img-fluid imagen-footer">
        </a>
      </div>
    </div>
  </section>
</footer>
